{% extends "base.html" %}

{% block title %}Список заказов{% endblock %}

{% block content %}
<h3>Ваша общая выручка: {{ revenue }}</h3>
<p>Здесь вы можете управлять своими продажами. </p>
<a href="{% url 'orders:create_order' %}">Создать заказ</a>
<hr>
{% if orders %}
    <table class="orders-table">
        <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Покупатель</th>
                <th>Дата создания</th>
                <th>Детали заказа</th>
                <th>Выручка</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.buyer }}</td>
            <td>{{ order.created|date:"d.m.Y H:i" }}</td>
            <td>
                <ul>
                    {% for item in order.order.all %}
                    <li class="order_list">
                        {{ item.product.title }} - {{ item.quantity|floatformat:"g" }} x {{ item.price|floatformat:"g" }} руб.
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td> {{ order.total_price|floatformat:"g" }} руб </td>
            <td><a href="{% url 'orders:delete_order' order.id %}">Удалить заказ</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% include 'includes/paginator.html' %}
{% else %}
    <p>У вас пока нет заказов.</p>
{% endif %}
{% endblock %}
