{% extends "base.html" %}
{% load static %}

{% block title %}Создание заказа{% endblock %}

{% block content %}
<h1>Создание заказа</h1>

<form id="order-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="products-list"></div>
    <button type="button" id="add-product-button">Добавить товар</button>
    <button type="submit">Создать заказ</button>
</form>
<script>
    const api_url = "{% url 'orders:user_products_api' %}";
    const send_data = "{% url 'orders:create_order' %}";
    const redirect_url = "{% url 'orders:all_orders' %}";
</script>
<script src="{% static 'js/create_order.js' %}"></script>
{% endblock %}
