{% extends "base.html" %}
{% load static %}
{% block title %}
  Главная страница
{% endblock %}

{% block content %}
  <h1 class="pb-2 mb-0">Добро пожаловать на главную страницу!</h1>
  <div class="row">
    <p class="plain_text">Мы знаем, как важна организация и контроль запасов для успешного ведения малого бизнеса. Именно поэтому наша
      платформа создана, чтобы сделать управление вашим складом простым, удобным и максимально эффективным.</p>
    <h3>Что вы можете сделать с помощью нашего сервиса:</h3>
    <ul>
      <li>Создавать категории товаров — упорядочьте ваш ассортимент так, чтобы всё было под рукой.</li>
      <li>Добавлять и редактировать товары — храните всю информацию о ваших товарах в одном месте.</li>
      <li>Удобно создавать заказы для ведения статистики.</li>
    </ul>
    <h3>Наш инструмент поможет вам:</h3>
    <ul>
      <li>Сократить время на рутинные задачи.</li>
      <li>Минимизировать ошибки в учете.</li>
      <li>Увеличить контроль над складскими процессами.</li>
      <li>Освободить больше времени для роста вашего бизнеса!</li>
    </ul>
    <h3>Начните уже сейчас!</h3>
    <p class="plain_text">Ваш склад — под вашим полным контролем. Мы предлагаем вам простое и интуитивно понятное решение, которое станет частью вашего успеха.</p>

  </div>
{% endblock %}
