{% load static %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container">
      <div
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a
              class="nav-link {% if view_name == 'homepage:index' %} active {% endif %}"
              href="{% url 'homepage:index' %}"
              >
              Главная
            </a>
          </li>

          {% if user.is_authenticated %}
            <li class="nav-item">
              <a
                class="nav-link {% if view_name == 'categories:all_categories' %} active {% endif %}"
                href="{% url 'categories:all_categories' %}"
                >
                Категории
              </a>
            </li>
          <li class="nav-item">
              <a
                class="nav-link {% if view_name == 'products:heap_products' %} active {% endif %}"
                href="{% url 'products:heap_products' 'title' %}"
                >
                Все товары
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if view_name == 'orders:all_orders' %} active {% endif %}"
                href="{% url 'orders:all_orders' %}"
                >
                Заказы
              </a>
            </li>
            <span>Привет,  <b>{{ user.first_name }}</b></span>
            <li class="nav-item">
              <a
                class="nav-link {% if view_name == 'user:profile' %} active {% endif %}"
                href="{% url 'user:profile' user.id %}"
                >
                Профиль
              </a>
            </li>
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
              </form>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'login' %}active{% endif %}" href="{% url 'login' %}">Войти</a>
            </li>
          {% endif %}
        </ul>
        {% endwith %}
      </div>
      <a class="navbar-brand" href="{% url 'homepage:index' %}">
        <img src="{% static 'img/logo-2.png' %}" height="50" class="d-inline-block align-top" alt="">
      </a>
    </div>
  </nav>
</header>
