{% extends "base.html" %}

{% block title %} Категории {% endblock %}
{% block content %}
  <p class="plain_text">Это страница с вашими категориями товаров. Здесь вы можете объединять товары в одну категории
  и следить за статистикой продаж. Перед тем как создать товар, создайте категорию.</p>
  <a href="{% url 'categories:create_category' %}">Создать категорию</a>
  <hr>
  {% if page_obj  %}
  <div class="categories">
    {% for category in page_obj  %}
      <div class="category">
        <b>{{ category.title }}</b> <span>- {{ category.description }}</span>
        <p>Кол-во продаж: {{ category.total_sales|default:0 }}</p>
        <p>Выручка {{ category.total_revenue|default:0 }}</p>
        <a href="{% url 'categories:update_category' category.id %}">Обновить категорию</a> |
        <a href="{% url 'categories:delete_category' category.id %}">Удалить категорию</a> |
        <a href="{% url 'products:all_products' category.id %}">Товары из категории</a>
      </div>
    {% endfor %}
  </div>
  {%  include 'includes/paginator.html' %}
  {% else %}
    <p>К сожалению, у вас пока нет категорий, но вы можете их создать</p>
  {% endif %}
{% endblock %}