{% extends "base.html" %}

{% block title %}Товары категории {% endblock %}

{% block content %}
  <h1>Товары в категории "{{ category.title }}"</h1>
  <p>Описание категории: {{category.description}}</p>
  <a href="{% url 'products:create_product' category.id %}">Создать товар</a>
  <hr>
  {% if products %}
      {% for product in products %}
        <div class="product">
          <p>{{ product.title }} - {{ product.description }}. Цена {{ product.selling_price }}</p>
          <p>{% if product.amount > 0 %}
          Осталось {{ product.amount|floatformat:"g" }} {{ product.measure_unit }}
          {% else %} Товар закончился :( {% endif %}</p>
          <a href="{% url 'products:update_product' category.id product.id %}">Изменить товар</a> |
          <a href="{% url 'products:delete_product' category.id product.id %}">Удалить товар</a>
        </div>
      {% endfor %}
  {% else %}
    <p>В этой категории нет товаров.</p>
  {% endif %}
  <a href="{% url 'categories:all_categories' %}">Назад</a>
{% endblock %}
