{% extends "base.html" %}

{% block title %}Все товары{% endblock %}
{% block content %}
  <p>
    На этой странице вы можете увидеть статистику по всем своим товарам и сравнить их. Редактировать товары
    можно через категории
  </p>
  <form method="get" action="{% url 'products:heap_products' 'sort' %}">
    <label for="sort">Сортировать по:</label>
    <select name="sort" id="sort">
        <option value="title" {% if request.GET.sort == 'title' %}selected{% endif %}>Название А-Я</option>
        <option value="-title" {% if request.GET.sort == '-title' %}selected{% endif %}>Название Я-А</option>

        <option value="selling_price" {% if request.GET.sort == 'selling_price' %}selected{% endif %}>Цена (сначала дешевле)</option>
        <option value="-selling_price" {% if request.GET.sort == '-selling_price' %}selected{% endif %}>Цена (сначала дороже)</option>

        <option value="total_sales" {% if request.GET.sort == 'total_sales' %}selected{% endif %}>Количество продаж (сначала меньше)</option>
        <option value="-total_sales" {% if request.GET.sort == '-total_sales' %}selected{% endif %}>Количество продаж (сначала больше)</option>

        <option value="total_revenue" {% if request.GET.sort == 'total_revenue' %}selected{% endif %}>Сумма продаж (сначала меньше)</option>
        <option value="-total_revenue" {% if request.GET.sort == '-total_revenue' %}selected{% endif %}>Сумма продаж (сначала больше)</option>
    </select>
    <input type="submit" value="Отсортировать">
  </form>
<hr>


  {% for product in products %}
    <div class="product">
      <p>{{ product.title }}: {{ product.description|truncatewords:5 }} | Категория: <span><a href="{% url 'products:all_products' product.category.id %}">{{ product.category.title }}</a></span> </p>
      <p>Цена: {{ product.selling_price }} руб. Кол-во продаж:
          {{ product.total_sales|default:0 }}, выручка: {{ product.total_revenue|default:0 }} руб</p>
    </div>
  {% endfor %}


  {% if page_obj.has_other_pages %}
  <nav class="my-5">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1&sort={{ request.GET.sort }}">Первая</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}&sort={{ request.GET.sort }}">
            Предыдущая
          </a>
        </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active">
            <span class="page-link">{{ i }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}&sort={{ request.GET.sort }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}&sort={{ request.GET.sort }}">
            Следующая
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&sort={{ request.GET.sort }}">
            Последняя
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

{% endblock %}